@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Francois One', sans-serif;
	background-color: #FAF5ED;
}

section {
	max-width: 800px;
	padding: 3em 5em;
	margin: 5em auto;
	box-sizing: border-box;
	border: 1px dashed black;
}

header {
	max-width: 100%;
	padding-top: 10px;
	perspective: 20em;
	perspective-origin: 60% 26%;
	text-align: center;
}

h1,
h2 {
	display: inline-block;
	margin: 0;
	line-height: 1;
	font-weight: 100;
}

h1 {
	transform: scaleY(2.4) rotateY(40deg) translateZ(0);
	positon: relative;
	color: #232E36;
	font-size: 55px;
	line-height: 1;
}

h1::after {
	content: '';
	display: inline-block;
	width: 1000px;
	height: 40px;
	position: absolute;
	top: 7px;
	right: -1000px;
	border-top: 1px solid #DF5C29;
	border-bottom: 1px solid #DF5C29;
}

h2 {
	padding: 23px 150px 0 0;
	transform: rotateY(40deg);
	font-size: 35px;
	color: #DF5C29;
}

h2::after {
	content: '';
	display: inline-block;
	width: 1000px;
	height: 23px;
	position: absolute;
	top: 27px;
	right: -850px;
	border-top: 1px solid #DF5C29;
	border-bottom: 1px solid #DF5C29;
}

#plane_wrap {
	position: relative;
		left: 14em;
		top: -10em;
	height: 873px;
	perspective: 80em;
}

#woman {
	width: 200px;
	height: auto;
	position: relative;
	top: 51px;
	left: 0px;
}

#train {
	position: relative;
	bottom: 40px;
	left: -43px;
}

#plane_front {
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 50%;
	left: 0;
	transform: translate3d(0, 25em, 20em);
}

#scene1 {
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 50%;
	right: 0;
	transform: translate3d(-10em, 0, 15em);
}

#scene2 {
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 50%;
	right: 0;
	transform: translate3d(-10em, 0, -20em);
}

#scene3 {
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 50%;
	right: 0;
	transform: translate3d(-10em, 0, -70em);
}

footer {
	padding: 0 2em;
	font-size: 0.8em;
	font-weight: 100;
	color: #DF5C29;
}