@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur');

body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Francois One', sans-serif;
    background-color: #FFF;
    transition: 0.5s background-color;
}

section {
    max-width: 800px;
    padding: 3em 5em;
    margin: 5em auto;
    box-sizing: border-box;
    border: 1px dashed black;
    background-color: #FAF5ED;
}

header {
    max-width: 100%;
    padding-top: 10px;
    perspective: 20em;
    perspective-origin: 60% 26%;
    text-align: center;
}

h1,
h2 {
    display: inline-block;
    margin: 0;
    line-height: 1;
    font-weight: 100;
}

h1 {
    transform: scaleY(2.4) rotateY(40deg) translateZ(0);
    positon: relative;
    color: #232E36;
    font-size: 55px;
    line-height: 1;
}

h1::after {
    content: '';
    display: inline-block;
    width: 1000px;
    height: 40px;
    position: absolute;
    top: 7px;
    right: -1000px;
    border-top: 1px solid #DF5C29;
    border-bottom: 1px solid #DF5C29;
}

h2 {
    padding: 23px 150px 0 0;
    transform: rotateY(40deg);
    font-size: 35px;
    color: #DF5C29;
}

h2::after {
    content: '';
    display: inline-block;
    width: 1000px;
    height: 23px;
    position: absolute;
    top: 27px;
    right: -850px;
    border-top: 1px solid #DF5C29;
    border-bottom: 1px solid #DF5C29;
}

#plane_wrap {
    position: relative;
    left: 14em;
    top: -10em;
    height: 873px;
    perspective: 80em;
}

#woman {
    width: 200px;
    height: auto;
    position: relative;
    top: 51px;
    left: 0px;
}

#train {
    position: relative;
    bottom: 40px;
    left: -43px;
}

#plane_front {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translate3d(0, 25em, 20em);
}

#scene1 {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate3d(-10em, 0, 15em);
}

#scene2 {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate3d(-10em, 0, -20em);
}

#scene3 {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate3d(-10em, 0, -70em);
}

footer {
    padding: 0 2em;
    font-size: 0.9em;
    font-weight: 100;
    color: #DF5C29;
    background-color: #FAF5ED;
}

#contentinfo {
    width: 23em;
    height: 17em;
    position: absolute;
    right: 1em;
    bottom: 0;
    line-height: 1;
    font-size: 1.25em;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(250, 245, 237, 0.5);
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
}

/*
#contentinfo:before {
    content: '';
    display: block;
    height: 17em;
    width: 8em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    shape-outisde: polygon(0 0, 90% 0, 39% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 90% 0, 39% 100%, 0% 100%);
}

#contentinfo:after {
    content: '';
    display: block;
    height: 17em;
    width: 8em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 61% 100%);
}
*/

#content1 {
    color: #393339;
}

#content1 small {
    color: #756968;
    font-family: 'Hind Guntur', sans-serif;
    letter-spacing: -0.5px;
    font-size: 0.6em;
}

#content1 h3 {
    font-size: 2.2em;
    margin-bottom: -0.2em;
}

#content1 p {
    font-family: 'Hind Guntur', sans-serif;
    letter-spacing: -0.5px;
    font-size: 0.6em;
}

#content1 sup {
    font-size: 0.2em;
    letter-spacing: 0;
    position: relative;
    top: 3px;
    right: -1px;
    padding-right: 2px;
}

#content2 {
    padding: 1.4em 3em;
    color: #2C373F;
    background-color: rgba(180, 177, 184, 0.6);
}

#content2 small {
    font-size: 0.9em;
}

#content2 h3 {
    font-size: 2.2em;
    margin: 0.2em 0 0.7em;
    transform: scaleY(1.3);
}

#content2 p {
    font-size: 0.9em;
    line-height: 0.2em;
}